body, html{
    height: 100%;
}
.mainContainer img#userLogo{
    margin-bottom: 20px;
}
.loginForm{
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 24%;
}
.loginForm input{
    border-radius: 5px;
}
.loginForm button{
    margin-top: 15px;
    border-radius: 10px;
    border-width: 0;
    background-color: #455a7c;
    color: white;
    font-weight: bold;
    font-size: medium;
    width: 20%;
    height: 2rem;
}
#tecLink{
    margin-top: 50px;
    font-weight: 400;
    font-style: italic;
}
p > a{
    color: rgb(176, 147, 95);
}